* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: flex-end;
}

#navbar img {
    width: 60px;
}

#navlinks {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#navlinks a {
    text-decoration: none;
}

#link-1 {
    padding-top: 48px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}

#link-2 {
    padding-right: 20px;
    padding-top: 48px;
    padding-left: 20px;
    color: black;
}

#link-1:hover {
    color: #0065fc;
}

#link-2:hover {
    color: #0065fc;
}

.HeaderTitle {
    padding-top: 40px;
    line-height: 10px;
}